/* src/components/About/TopAbout/TopAbout.css */

/* Image Background */
.image-background-container.about {
	height: 80vh;
}

/* Header Section*/
.tps-header-section.about > h1 {
	font-size: 72px;
}

/* Right Image */
.top-figure-title.about {
	right: 25.5em;
	top: 18vh;
}
