/* src/components/NavHeader/ShoppingCartModal/ShoppingCartModal.css */

#shopping-cart-modal-section {
	display: grid;
	width: 368px;
	grid-template-rows: 100px auto;
	grid-auto-rows: max-content;

	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
}

/* Top Section */
#scms-top-section {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background-color: #424242;
	align-items: center;
	color: white;

	position: relative;
}

#scms-top-section > i {
	left: 35px;
	position: absolute;
}

#scms-top-section > p {
	position: absolute;
	left: 153px;
	font-weight: lighter;
	line-height: 28px;
	text-align: center;
	font-size: 22px;
}

/* Lower Section */
#scms-lower-section {
	background-color: white;
	color: #424242;
	font-size: 18px;
	line-height: 29px;
	text-align: center;

	position: relative;
}

#scms-lower-section > p {
	position: absolute;
	top: 18px;
	left: 122px;
}
