/* src/components/NavHeader/ShoppingCartModal/ShoppingCartModal.css */

#shopping-cart-modal-outer-section {
	height: 100%;
	width: 0;
}

#shopping-cart-modal-outer-section > div {
	height: inherit;
	width: inherit;
}

#shopping-cart-modal-section {
	display: grid;
	width: 368px;
	height: 100vh;
	grid-template-rows: 100px auto;
	grid-auto-rows: max-content;
	position: sticky;
	top: 0;
	bottom: 0;
	right: 0;
	margin-top: -2rem;
	margin-right: -1rem;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* Top Section */
#scms-top-section {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background-color: #424242;
	align-items: center;
	color: white;

	position: relative;
}

#scms-top-section > i {
	left: 35px;
	position: absolute;
}

#scms-top-section > i:hover {
	cursor: pointer;
}

#scms-top-section > p {
	position: absolute;
	left: 153px;
	font-weight: lighter;
	line-height: 28px;
	text-align: center;
	font-size: 22px;
}

/* Lower Section */
#scms-lower-section {
	background-color: white;
	color: #424242;
	line-height: 29px;
	text-align: center;

	position: relative;
}

#scms-ul {
	list-style-type: none;

	height: 100%;
	width: 100%;

	margin: 0;
	padding: 0;

	overflow: auto;
}

.scms-li {
	height: 5vh;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	position: relative;
}

.scms-li > i {
	font-size: 24px;

	margin: 0;
	padding: 0;

	position: absolute;
}

.scms-li-add-quantity {
	left: 1vw;
}

.scms-li-delete-quantity {
	left: 3vw;
}

/* Cart Item Total */
#scms-cart-total-section {
	/* background-color: pink; */

	margin-top: 2vh;
	font-weight: 500;
}

#scms-cart-total-section > span:first-child {
	margin-right: 1vw;
}

/* Cart Checkout */
#scms-ul-checkout-button {
	background-color: #80ab63;
	border: 3px solid #80ab63;
	color: white;
	padding: 1vh 3vw;

	margin-top: 3vh;

	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

	text-transform: uppercase;

	transition: box-shadow 0.5s ease;
}

.scms-li > i:hover,
#scms-ul-checkout-button:hover {
	cursor: pointer;
}

.scms-li > i:active,
#scms-ul-checkout-button:active {
	box-shadow: 0 3px 15px rgb(0 0 0 / 0.5);
}

.scms-li-span.quantity {
	margin-left: 3vw;
}

#scms-lower-section > p {
	position: absolute;
	top: 18px;
	left: 122px;
	font-size: 18px;
}
