/* src/components/NavHeader/ShoppingCartModal/ShoppingCartModal.css */

#shopping-cart-modal-section {
}

/* #shopping-cart-modal-outer-section.false {
	right: -368px;
}

#shopping-cart-modal-outer-section.true {
	right: 0;
} */

#shopping-cart-modal-section {
	display: grid;
	width: 368px;
	height: 100vh;
	grid-template-rows: 100px auto;
	grid-auto-rows: max-content;
	background-color: pink;
	position: sticky;
	right: 0;
	margin-top: -2rem;
	margin-right: -1rem;
}

/* Top Section */
#scms-top-section {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	background-color: #424242;
	align-items: center;
	color: white;

	position: relative;
}

#scms-top-section > i {
	left: 35px;
	position: absolute;
}

#scms-top-section > i:hover {
	cursor: pointer;
}

#scms-top-section > p {
	position: absolute;
	left: 153px;
	font-weight: lighter;
	line-height: 28px;
	text-align: center;
	font-size: 22px;
}

/* Lower Section */
#scms-lower-section {
	background-color: white;
	color: #424242;
	line-height: 29px;
	text-align: center;

	position: relative;
}

#scms-lower-section > p {
	position: absolute;
	top: 18px;
	left: 122px;
	font-size: 18px;
}
