/* src/components/LandingPage/LowerLanding/LowerLanding.css */

#lower-landing-section {
	grid-area: 'lower-landing';

	height: 100%;

	display: grid;
	grid-template-rows: calc(100vh - 3rem) 140vh 100vh;
	grid-auto-rows: max-content;
}

#lower-landing-section > section {
	height: 100%;
	width: 100%;
}


/***
Media Queries
***/
@media only screen and (max-width: 1600px){
  #lower-landing-section{
		grid-gap: 10vh;
	}
}
