/* src/components/LandingPage/LowerLanding/LowerLanding.css */

#lower-landing-section {
	grid-area: 'lower-landing';

	height: 100%;

	display: grid;
	grid-template-rows: calc(100vh - 3rem) 140vh 100vh;
}

#lower-landing-section > section {
	height: 100%;
	width: 100%;
}
