/* src/components/ShopAll/LowerShopAll/ReviewSection/ReviewSection.css */

.review-section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.review-section * {
	margin: 0;
	padding: 0;
}

.review-ul {
	list-style-type: none;
}

/* Review List */
.rs.review-li {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	position: relative;

	margin-bottom: 20px;
	width: 100%;
}

.rs.review-li > h3 {
	margin: 0;
}

.review-icons-container {
	position: absolute;

	top: 0;
	right: 0;

	display: flex;
}

.review-icons-container > figure {
	margin: 0 5px;
}

/* Text area */
.insert-review-section.form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 20.5%;
}

.insert-review-section.form > textarea {
	resize: none;
	height: 10vh;
	width: 20vw;
}

.review-icons-container > figure:hover,
.insert-review-section.form > button:hover {
	cursor: pointer;
}
