/* src/components/ResourceNotFound/ResourceNotFound.css */

.inner.rnf {
	display: flex;
	flex-direction: column;
}

section.rnf > figure:hover {
	cursor: pointer;
}

section.rnf span {
	margin-left: 2%;
	font-size: 100%;
}

.rnf.content {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	flex-direction: column;
}

.rnf.content > * {
	width: 40%;

	text-align: center;

	color: black;
	font-weight: bold;
}
