/* src/components/AccountMenu/MyAddresses/MAdrContent/MAdrContent.css */

/* Lower */
.cis.button {
	padding: 1vh 3vw;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

	text-transform: uppercase;

	transition: box-shadow 0.5s ease;

	position: relative;
	z-index: 5;

	font-size: 16px;
}

.cis.button.update {
	background-color: #80ab63;
	border: 1px solid #80ab63;
	color: white;
}

.cis.button.discard {
	background-color: white;
	color: black;
	font-weight: bold;
	border: 1px solid black;

	/* border: 1px solid rgb(199, 199, 199); */
	/* color: rgb(199, 199, 199); */
}

.cis.button:hover {
	cursor: pointer;
}
