/* src/components/NavHeader/NavHeader.css */

#nav-header-container {
	position: fixed;
	right: 0;
	z-index: 6;
	height: 100%;
	margin-right: 2%;
}

#nav-header-section {
	position: sticky;
	top: 1rem;
	width: 80%;
	height: 2rem;

	display: flex;
	align-items: center;
	justify-content: space-evenly;

	margin-right: 3rem;
}

#nav-header-section,
#nav-header-section * {
	margin: 0;
	padding: 0;
}

.nh-figure.user-modal {
	padding-right: 15px !important;
}

#nhs-cart-span {
	cursor: default;
}

.nh-figure {
	position: relative;
}

.nh-figure > span {
	position: absolute;
	top: -0.1rem;
	right: 0.55rem;
	font-size: 10px;
	font-weight: bold;
}

.nh-figure.white > i,
.nh-figure > span.white {
	color: white;
}

.nh-figure.black > i,
.nh-figure > span.black {
	color: black;
}

.nh-figure > i:hover,
#nhs-cart-span {
	cursor: pointer;
}

/* Right Nav Clicker Modal */
#nav-header-rnc-section {
	position: sticky;
	margin-top: 42vh;
	margin-left: 1rem;
}

/* Shopping Cart Modal */
#nav-header-scm-section {
	height: 100%;
	width: 0;
}
