/* src/components/LandingPage/TopLanding/Carousel/ImageSlide/ImageSlide.css */
.image-slide {
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: background-image 0.3s ease-in-out;
}

.slide-arrow {
	cursor: pointer;
	font-size: 2rem;
}

.slide-arrow.right {
	right: 1rem;
}

.slide-arrow.left {
	left: 1rem;
}
