/* src/components/NavRight/NavModal/NavModalLeft/NavModalLeft.css */

#nml-section {
	background-color: cyan;
}

#nml-section {
	display: grid;

	grid-template-rows: 60% auto;
}

/* Nav Modal: Left: Top */
#nml-top {
	background-color: pink;
}

#nml-feature-info-figure {
	background-color: rgba(95, 95, 95, 0.85);

	height: 100%;
	width: 100%;

	color: white;

	position: relative;

	display: flex;
	flex-direction: column;
}

#nml-feature-info-figure > section {
	display: flex;
	align-items: center;
}

#nml-feature-info-figure > section * {
	padding: 0;
	margin: 0;
}

#nml-feature-info-figure > section:first-child {
	height: 10vh;
	width: 100%;

	position: absolute;
	top: 0;
	left: 1vw;
	text-align: left;

	font-size: 3vw;

	font-family: 'Merriweather', serif;
}

#nml-feature-info-figure > section:last-child {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	margin-bottom: 3vh;
	margin-right: 3vh;
}

#nml-feature-info-figure > section:last-child h4 {
	font-size: 2.5vw;
}

#nml-feature-info-figure > section:last-child * {
	text-align: right;
}

#nml-feature-info-figure > section:last-child span {
	margin-top: 14px;
	font-size: 1vw;
	letter-spacing: 3px;
}

/* Nav Modal: Left: Lower */
#nml-lower {
	background-color: #6fa04e;

	display: grid;
	grid-template-columns: 60% auto;
}

/* Nav Modal: Left: Lower: Left */
#nml-contact-info-figure {
	background-color: rgba(94, 133, 222, 0.85);
}

#nml-contact-info-figure,
#nml-feature-info-figure {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	background-blend-mode: multiply;
	background-size: 100% auto;
	background-repeat: no-repeat;

	position: relative;

	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	text-align: right;
}

#nml-contact-info-figure > p {
	margin: 0;
	padding: 0;
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	word-spacing: 1px;

	margin-bottom: 1vh;
	margin-right: 1vw;
}

/* Nav Modal: Left: Lower: Right */
#nml-section-inner-figure {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

#nml-section-inner-figure > img {
	object-fit: cover;
	height: 70%;
	width: 70%;
	margin: 0;
	padding: 0;
}
