/* src/components/ShopAll/LowerShopAll/ReviewSection/StarSystem/StarSystem.css */

.star-button {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;

	font-size: 2rem;
}

.on {
	color: yellow;
}

.off {
	color: #ccc;
}
