/* src/components/AccountMenu/LeftAMN/LeftAMN.css */
.left-amn-section {
	display: grid;
	grid-template-rows: 45% auto;

	grid-gap: 50px;

	padding: 5rem 0;

	align-self: center;
}

.left-amn-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0rem 5rem;

	height: 70%;
	width: 100%;

	margin: 0;
	padding: 0;
}

/* Top: User */
.left-amn-section.user-menu {
	justify-content: flex-end;
}

.left-amn-section.user-menu > figure {
	margin: 0;
	padding: 0;
	height: 75%;
	width: 75%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	border: 2px solid black;
}

.left-amn-section.user-menu > figure > img {
	height: 30%;
	width: auto;
	border-radius: 64px;
}

.left-amn-section.user-menu > figure > figure {
	border-radius: 128px;
	background-color: #80ab63;
	height: 90px;
	width: 94px;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	margin: 0;

	position: relative;
}

.left-amn-section.user-menu > figure > span {
	margin-top: 12px;
	font-size: 18px;
}

.um.las.edit-pic-container {
	position: absolute;

	background-color: rgb(0, 0, 0, 0);

	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 128px;

	margin: 0;
}

.edit-pic-container i {
	color: rgb(0, 0, 0, 0);
}

.left-amn-section.user-menu > figure > figure:hover .um.las.edit-pic-container {
	background-color: rgb(0, 0, 0, 0.25);
	cursor: pointer;
}

.left-amn-section.user-menu
	> figure
	> figure:hover
	.um.las.edit-pic-container
	> figure {
	background-color: white;
	height: 32px;
	width: 32px;

	margin: 0;
	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 128px;
}

.left-amn-section.user-menu
	> figure
	> figure:hover
	.um.las.edit-pic-container
	i {
	color: rgb(0, 0, 0, 1);
}

.edit-pic-container,
.edit-pic-container i {
	margin: 0;
	padding: 0;
}

.image-input {
	display: none;
}

.lamn.custom.outer-figure {
	margin: 0;
	padding: 0;
}

.lamn.custom-user-pic {
	height: 91px;
	width: 94px;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;

	margin: 0;

	position: relative;

	margin: 0;
	padding: 0;

	border-radius: 128px;
}

.lamn.custom-user-pic > img {
	object-fit: cover;
	height: 90%;
	width: 94%;

	margin: 0;
	padding: 0;

	transform: scale(1.1);

	border-radius: 128px;
}

#lamn-reset-photo {
	font-size: 14px;
	text-decoration: underline;
	opacity: 0.85;
}

#lamn-reset-photo:hover {
	opacity: 1;
	cursor: pointer;
}

/* Bottom: Account Nav */
.user-menu.left-amn-ul.account-nav {
	height: 75%;
	width: 75%;

	margin: 0;
	padding: 0;

	list-style-type: none;
	border: 2px solid black;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.nav-link.AM {
	background-color: orange;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: white;
	color: black;

	text-decoration: none;

	transition: 0.1s all ease-in;
}

.nav-link.AM.selected,
.nav-link.AM:hover {
	background-color: #80ab63;
	color: white;
}

/***
Media Queries
***/
@media only screen and (max-width: 1600px){
	.left-amn-section {
		height: 90%;
		width: 100%;
	}
}
