/* src/components/Portfolio/Portfolio.css */

#portfolio-section {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100vh auto 100vh;
	grid-auto-rows: max-content;

	grid-template-areas:
		'top-portfolio'
		'lower-portfolio'
		'footer';

	overflow-y: auto;
	overflow-x: hidden;

	position: relative;

	height: 100%;
	width: 100%;
}
