/* src/components/NavRight/NavRight.css */

#nav-rn-section {
	height: calc(100% - 5rem);
	margin-top: 4rem;
	width: 0;

	position: fixed;
	top: 40vh;
	/* right: 0.5vw; */

	user-select: none;
	z-index: 9;
}

#nav-rn-figure {
	top: 50%;
	right: -1vw;
	position: fixed;
	margin: 0;
	padding: 0;
	height: 80px;
	width: 80px;

	background-color: #6fa04e;

	display: flex;
	justify-content: center;
	align-items: center;
}

#nav-rn-figure:hover {
	cursor: pointer;
}
