/* src/components/CheckOutModal/InnerLeft/Paymentmethod/PaymentForm/PaymentForm.css */
iframe.payment-form {
	height: 50%;
	width: 99%;

	margin: 0;
	padding: 0;

	margin-right: 16px;

	border: none;
}

figure.loading-screen {
	margin-top: 10%;
	height: 50vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

figure.loading-screen > img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}
