/* src/components/CheckOutModal/InnerLeft/ReviewItems/ReviewItems.css */
ul.order-carts.ri {
	height: 55% !important;
}

figure:has(button.accept-review) {
	font-weight: bold;

	margin-left: 2%;
}

/* Button to accept review order */
button.accept-review {
	box-sizing: border-box;
	width: 250px;
	padding: 0.5vw 0;
	font-size: 100%;
	font-weight: bold;
	letter-spacing: 0.1vw;
	border-radius: 6px;

	transition: all 0.4s ease;

	text-transform: uppercase;

	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

	margin-right: 2%;
}

button.accept-review.valid {
	border: 3px solid #80ab63;
	color: white;
	background-color: #80ab63;
}

button.accept-review.invalid {
	border: 3px solid rgb(66, 66, 66, 0.06);
	color: black;
	background-color: rgb(66, 66, 66, 0.06);
}

button.accept-review:hover {
	cursor: pointer;
}
