/* src/components/Portfolio/LowerPortfolio/DisplayGalleryModal/DisplayGalleryModal.css */
#display-gallery-modal {
	height: 80vh;
	width: 80vw;

	display: grid;
	grid-template-columns: 60% auto;
	grid-auto-columns: max-content;
	justify-items: start;
	align-items: start;

	background-color: white;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.dgm-inner-section {
	height: 80vh;
	width: fit-content;

	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;

	margin-left: 5rem;
}

/* Description Box */
.dgm-description-box {
	display: grid;
	height: 100%;
	width: 100%;

	grid-auto-rows: max-content;

	overflow: auto;
}

.dgm-description-box-description {
	margin-top: 5rem;
	overflow: auto;

	height: 100%;

	border-radius: 0.25rem;
}

.dgm-description-box-description > h4 {
	font-size: 36px;

	margin: 0;
	padding: 0;
}

.dgm-description-box-description > h5 {
	font-size: 14px;

	white-space: pre-line;

	margin-right: 12px;
}

.dgm-db-text-form {
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	margin-top: 50px;

	position: absolute;

	top: 25rem;

	width: 30%;
	height: fit-content;
}

.dgm-db-text-form > label {
	text-align: left;
	font-size: 18px;
	margin-bottom: 18px;
	width: 100%;
}

.dgm-textarea-container {
	height: fit-content;
	height: 20vh;
	width: 100%;
	padding: 0;
	margin: 0;

	text-align: right;
}

.dgm-db-textarea {
	background-color: white;

	height: 80%;
	width: 29.5vw;

	resize: none;

	font-size: 18px;

	border-radius: 0.25rem;
}

.dgm-db-textarea::-webkit-scrollbar,
.dgm-description-box-description::-webkit-scrollbar {
	width: 0.5em;
}

.dgm-db-textarea::-webkit-scrollbar-track,
.dgm-description-box-description::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dgm-db-textarea::-webkit-scrollbar-thumb,
.dgm-description-box-description::-webkit-scrollbar-thumb {
	background-color: #80ab63;
	outline: 1px solid #92b77a;
	border-radius: 1rem;
}

.dgm-db-submit-btn {
	height: 2rem;
	width: fit-content;

	margin-top: 1vh;
}

.dgm-db-submit-btn.true {
	border: 3px solid #80ab63;
	color: white;
	background-color: #80ab63;
}

.dgm-db-submit-btn.false {
	border: 3px solid rgb(66, 66, 66, 0.06);
	color: black;
	background-color: rgb(66, 66, 66, 0.06);
	pointer-events: none;
}

.valid-image.false {
	color: red;
}

.dgm-db-submit-btn.false:hover {
	cursor: default;
}

.dgm-db-submit-btn:hover {
	cursor: pointer;
}

.dgm-db-submit-btn:active {
	box-shadow: 0 1px 5px rgb(0 0 0 / 0.5);
}
